PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=12345
DB_NAME=vaggo
JWT_SECRET=
JWT_ACCESS_TOKEN_EXPIRES=600
JWT_REFRESH_TOKEN_EXPIRES=604800
NODE_ENV=development
FRONTEND_URL=http://localhost:3001
CLOUDINARY_CLOUD_NAME =
CLOUDINARY_API_KEY =
CLOUDINARY_API_SECRET=
GOOGLE_MAPS_API_KEY=
