PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=12345
DB_NAME=vaggo
JWT_SECRET=
JWT_ACCESS_TOKEN_EXPIRES=600
JWT_REFRESH_TOKEN_EXPIRES=604800
NODE_ENV=development
FRONTEND_URL=http://localhost:3001
CLOUDINARY_CLOUD_NAME =
CLOUDINARY_API_KEY =
CLOUDINARY_API_SECRET=
GOOGLE_MAPS_API_KEY=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_NUMBER=whatsapp:+14155238886
TWILIO_TEMPLATE_EMAIL_VERIFICATION=
TWILIO_TEMPLATE_OTP=
TWILIO_TEMPLATE_RENTAL=
TWILIO_TEMPLATE_CHAT=
TWILIO_TEMPLATE_APPROVED=
